.ctaContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4rem 2rem;
    background: antiquewhite;
    /* border: 2px solid red; */
}

.ctaLeft{
    width: 60%;
    padding: 0em 4em;
    
}

.ctaRight{
    width: 40%;
}

.ctaRight img{
    width: 100%;
}

@media screen and (max-width: 768px){
    .ctaContainer{
        flex-direction: column;
        gap: 50px;
        padding: 4rem 0rem;
    }

    .ctaLeft{
        width: 100%;
        padding: 0em 2em;
    }

    .ctaRight{
        width: 100%;
    }
}