.loginContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: calc(100vh - 5rem);
    align-items: center;
    padding: 2rem 0rem 0rem 0rem;
    background-color: rgba(255, 255, 255, 0);
}

.loginForm{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}